



*{
  color:#211e22;
  font-family: 'sofia' !important;
}



.summary-card{
  -webkit-box-shadow: 0px 0 6px#777;
  -moz-box-shadow: 0px 0 6px#777;
       box-shadow: 0px 0 6px#777;
}

.submit-now-button{
  width:100%;
  background: #f68b1e;
  color: #fff;
  font-weight: 500;
  border-radius: 20px;


}


.line{
  background-color: rgb(241, 241, 241);
  height: 3px;
  width: 98%;
  margin:auto;

}
.item-cart {
  padding: 10px;
  box-shadow: var(--bs-box-shadow);
}
.item-cart {

  &:hover, &:focus {
   
    -webkit-box-shadow: 0px 0 10px#777;
    -moz-box-shadow: 0px 0 10px#777;
         box-shadow: 0px 0 10px#777;
  }
}

.card{
  border-radius:30px;
  padding: 20px;
}
.page-title{
  font-size: xx-large;
}
.card-round{
  background-color: #F0FBF9;
  border-radius:50px;
  height: 100%;
  padding: 20px;
}

.info-title{
  margin-top: 10px;
  font-weight: 900;
  font-size: large;

}
.info-title-section{
  margin-bottom: 20px;

}


.dash{
  background-color: rgb(12, 12, 12);
  height: 5px;
  width: 20px;
}

  .line{
    background-color: rgb(241, 241, 241);
    height: 4px;
    width: 98%;
    margin:auto;

  }
.form-info{
  margin-top: 20px;
}

label{
  font-weight: 700;
}
.form-group {
  .round-input{
      border-radius: 20px !important;
      height: 50px;
      padding-left: 20px;
      border: 3px solid rgb(241, 241, 241);
  }
}

.full-height{
  height: 100%;
}


.form-group .text-area-height{
  height: 82%;
}



.img-table{
width: 16px;
height: 16px;
}


.table-borderless{
  border:0px;
}


.submit-button-section{
  padding-top:100px;
}

.btn-submit{
  float: right;
  height: 50px;
  padding: auto;
  border-radius: 40px;
  font-size: large;
}


@media (min-width: 991.98px) { 
  .col-summary{
    padding-left: 50px;
  }
  .col-cart{
    padding-right: 50px;
  }
  .main-content{
    padding-left: 50px;
    padding-right: 50px;
  }
  .page-title{
    font-size: x-large;
    padding-left: 60px;
  }
  .main-div{
    padding-top: 150px;
  }
  .item-price{
    text-align: end;
  }
  .save-latter{
    text-align: end;
    padding: 0px;
  }
  .remove{
    text-align: end;
    padding: 0px;
  }
  .item-count{
    float: right;
  }

}

@media (max-width: 991.98px) { 
  .main-div{
    padding-top: 0px;
  }
  .cart-items-header{
    padding-top: 5px;
    top:0px !important;
  }
  
  .main-content{
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .summary-card{
    margin-top: 20px;
  }
}